<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="D:\study\HotelManage\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="infofile" fileName="logs\nlog-inf-${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}| ${message}" />

    <target xsi:type="File" name="errorfile" fileName="logs\nlog-err-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}| ${message} ${newline}${exception:format=tostring} ${newline}url: ${aspnet-request-url} ${newline}action: ${aspnet-mvc-action}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" maxlevel="Warn"  writeTo="infofile" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>

